/* #fdb984 #C37857;*/
/*#a5480b*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif; }

body {
  background-color: #fff3ea;
  /* #fff3ea;*/
  width: 100%; }

.header {
  background-color: #fdb984;
  padding: 1rem; }
  .header .header__contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px; }
    .header .header__contenedor .logo {
      width: 100px; }
    .header .header__contenedor .btn-open-sidebar {
      display: none; }
      @media screen and (max-width: 806px) {
        .header .header__contenedor .btn-open-sidebar {
          /* Menu lateral */
          display: inline-block;
          background-color: #C46352;
          color: white;
          font-size: 1.5rem;
          border-radius: 5px;
          padding: 0.5rem 1rem; } }
    @media screen and (max-width: 806px) {
      .header .header__contenedor #sidebar:target {
        /* Menu lateral */
        transform: translateX(0); } }
    .header .header__contenedor .nav__lista {
      display: flex; }
      @media screen and (max-width: 806px) {
        .header .header__contenedor .nav__lista {
          /* Menu lateral */
          background-color: #C46352;
          width: 80%;
          max-width: 400px;
          height: 100vh;
          position: fixed;
          top: 0;
          left: 0;
          transform: translateX(-100%);
          flex-direction: column;
          justify-content: center;
          gap: 1rem;
          padding: 1rem;
          transition: transform 0.5s;
          z-index: 100; } }
      .header .header__contenedor .nav__lista .nav__item {
        list-style: none;
        transition: transform 0.5s; }
        @media screen and (max-width: 806px) {
          .header .header__contenedor .nav__lista .nav__item {
            margin-bottom: 1.3rem; } }
        .header .header__contenedor .nav__lista .nav__item:hover {
          transform: scale(1.3, 1.3); }
          @media screen and (max-width: 806px) {
            .header .header__contenedor .nav__lista .nav__item:hover {
              transform: scale(1, 1); } }
        .header .header__contenedor .nav__lista .nav__item__a {
          text-decoration: none;
          margin: 8px;
          font-size: 1.3rem;
          color: #ffffff; }
      .header .header__contenedor .nav__lista .nav__item--oculto {
        display: none; }
        @media screen and (max-width: 806px) {
          .header .header__contenedor .nav__lista .nav__item--oculto {
            /* Menu lateral */
            display: block; } }

.inicio {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fdb984;
  margin-bottom: 2rem; }
  @media screen and (max-width: 425px) {
    .inicio {
      height: 200px; } }
  .inicio h1 {
    font-size: 5rem;
    font-family: 'Parisienne', cursive;
    color: #ffffff; }
    @media screen and (max-width: 540px) {
      .inicio h1 {
        font-size: 3rem; } }
    @media screen and (max-width: 320px) {
      .inicio h1 {
        font-size: 2.5rem; } }

.productosDestacados {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 4rem; }
  .productosDestacados .productoDestacado {
    width: 300px;
    position: relative;
    margin: 10px; }
    .productosDestacados .productoDestacado .productoDestacado__ContenedorImg__img {
      width: 100%;
      border: solid 0px #853a00;
      border-radius: 25px; }
    .productosDestacados .productoDestacado__informacion {
      position: absolute;
      text-decoration: none;
      color: #a5480b;
      bottom: 0px;
      border: solid 3px #ffffff;
      background-color: #ffffff;
      left: 50%;
      transform: translateX(-50%);
      width: 115px;
      height: 56px;
      border-radius: 100px 100px 0 0; }
      @media screen and (max-width: 373px) {
        .productosDestacados .productoDestacado__informacion {
          width: 107px;
          height: 54px; } }
      @media screen and (max-width: 344px) {
        .productosDestacados .productoDestacado__informacion {
          width: 93px;
          height: 49px; } }
      .productosDestacados .productoDestacado__informacion h2 {
        position: absolute;
        bottom: 6px;
        left: 21px; }
        @media screen and (max-width: 344px) {
          .productosDestacados .productoDestacado__informacion h2 {
            font-size: 1.2rem; } }

.contenedorFondo {
  background-image: url(../imagenes/c1.jpg);
  background-size: 100%; }
  @media screen and (max-width: 1024px) {
    .contenedorFondo {
      background-image: url(../imagenes/c13.jpg);
      background-size: 100%; } }
  @media screen and (max-width: 768px) {
    .contenedorFondo {
      background-image: url(../imagenes/c12.jpg);
      background-size: 100%; } }
  @media screen and (max-width: 574px) {
    .contenedorFondo {
      background-image: url(../imagenes/c15.jpg);
      background-size: 100%; } }
  .contenedorFondo .contenedorFondo_color {
    background: #080707b8; }

.sobreNosotros {
  display: flex;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding-top: 40px; }
  .sobreNosotros .informacion {
    flex-basis: 60%;
    color: white;
    position: relative; }
    @media screen and (max-width: 1133px) {
      .sobreNosotros .informacion {
        flex-basis: 80%; } }
    @media screen and (max-width: 353px) {
      .sobreNosotros .informacion {
        flex-basis: 90%; } }
    .sobreNosotros .informacion__titulo {
      font-family: 'Parisienne';
      font-size: 4rem;
      text-align: center; }
      @media screen and (max-width: 472px) {
        .sobreNosotros .informacion__titulo {
          font-size: 3rem;
          margin-bottom: 1rem; } }
      @media screen and (max-width: 353px) {
        .sobreNosotros .informacion__titulo {
          font-size: 2.5rem;
          margin-bottom: 1rem; } }
    .sobreNosotros .informacion__parrafo {
      text-align: center;
      font-size: 2rem;
      margin-left: 28%;
      margin-bottom: 3rem; }
      @media screen and (max-width: 472px) {
        .sobreNosotros .informacion__parrafo {
          display: none; } }
    .sobreNosotros .informacion__parrafo2 {
      text-align: center;
      font-size: 1.5rem;
      margin-bottom: 3rem; }
      @media screen and (max-width: 472px) {
        .sobreNosotros .informacion__parrafo2 {
          font-size: 1.2rem;
          margin-bottom: 2rem; } }
      @media screen and (max-width: 353px) {
        .sobreNosotros .informacion__parrafo2 {
          font-size: 1rem;
          margin-bottom: 1rem; } }
    .sobreNosotros .informacion p:nth-child(5) {
      margin-bottom: 3rem; }
      @media screen and (max-width: 353px) {
        .sobreNosotros .informacion p:nth-child(5) {
          margin-bottom: 1rem; } }
    .sobreNosotros .informacion .contenedorBoton {
      text-align: center;
      height: 93px; }
      .sobreNosotros .informacion .contenedorBoton .botonComprar {
        position: absolute;
        text-decoration: none;
        border: solid 0px;
        background-color: #ffffff;
        width: 157px;
        height: 76px;
        bottom: -1px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 100px 100px 0 0; }
        @media screen and (max-width: 353px) {
          .sobreNosotros .informacion .contenedorBoton .botonComprar {
            bottom: -1px; } }
        .sobreNosotros .informacion .contenedorBoton .botonComprar p {
          position: absolute;
          text-align: center;
          font-size: 1.3rem;
          top: 36px;
          left: 14px;
          color: #a74d11;
          font-weight: 600; }

.masProductos {
  margin: 0 auto;
  margin-bottom: 6rem;
  max-width: 1400px; }
  .masProductos div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .masProductos div .uno {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      margin: 5px; }
      .masProductos div .uno .imagen {
        padding: 27px;
        padding-bottom: 3px;
        margin-bottom: 1rem;
        transition: transform 10s ease; }
        @media screen and (max-width: 375px) {
          .masProductos div .uno .imagen {
            padding: 15px;
            margin-bottom: 0rem; } }
        .masProductos div .uno .imagen :hover {
          transform: scale(1.1, 1.1); }
          @media screen and (max-width: 806px) {
            .masProductos div .uno .imagen :hover {
              transform: scale(1, 1); } }
        .masProductos div .uno .imagen img {
          border: solid 0px #853a00;
          border-radius: 25px; }
      .masProductos div .uno .titulo {
        margin-bottom: 1.5rem;
        color: #ffffff; }
        @media screen and (max-width: 375px) {
          .masProductos div .uno .titulo {
            margin-bottom: 1rem; } }
        .masProductos div .uno .titulo ::after {
          content: "";
          display: block;
          position: absolute;
          width: 100%;
          height: 30%;
          bottom: 0;
          left: 0;
          background-color: #C46352;
          border-radius: 10px;
          z-index: -1; }
    .masProductos div img {
      width: 280px; }
      @media screen and (max-width: 375px) {
        .masProductos div img {
          width: 200px; } }

footer {
  background-color: #fdb984; }
  footer .footer__contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem 0; }
    @media screen and (max-width: 768px) {
      footer .footer__contenedor {
        flex-direction: column; } }
    footer .footer__contenedor .logo {
      width: 100px; }
    footer .footer__contenedor p {
      color: white;
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
      padding-left: 3%; }
      @media screen and (max-width: 768px) {
        footer .footer__contenedor p {
          text-align: center; } }
      @media screen and (max-width: 398px) {
        footer .footer__contenedor p {
          padding-left: 0;
          font-size: 1rem; } }
    footer .footer__contenedor p:nth-child(1) {
      font-size: 1.7rem;
      padding-left: 0%; }
    footer .footer__contenedor .contactos {
      width: 381px; }
      @media screen and (max-width: 768px) {
        footer .footer__contenedor .contactos {
          margin-bottom: 1rem;
          margin-top: 1rem; } }
      @media screen and (max-width: 398px) {
        footer .footer__contenedor .contactos {
          width: initial; } }
    footer .footer__contenedor .redes {
      width: 253px; }
      @media screen and (max-width: 398px) {
        footer .footer__contenedor .redes {
          width: initial; } }
      footer .footer__contenedor .redes a {
        color: white;
        text-decoration: none;
        padding-left: 3%;
        font-size: 4rem; }
        @media screen and (max-width: 398px) {
          footer .footer__contenedor .redes a {
            padding-left: 0%;
            font-size: 3rem; } }

.contenidoDeCatalogo {
  max-width: 1450px;
  margin: 20px auto;
  border-radius: 40px;
  padding-bottom: 27px;
  padding-top: 27px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contenidoDeCatalogo h2:nth-child(1) {
    color: #C46352;
    font-family: 'Parisienne';
    font-size: 4rem; }
    @media screen and (max-width: 352px) {
      .contenidoDeCatalogo h2:nth-child(1) {
        font-size: 3rem; } }
  .contenidoDeCatalogo h2 {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    padding: 10px 0px; }
  .contenidoDeCatalogo .productosLista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .contenidoDeCatalogo .productosLista .productoCatalogo {
      width: 334px;
      margin: 10px 10px;
      margin-bottom: 30px;
      padding: 14px;
      border-radius: 14px;
      position: relative; }
      @media screen and (max-width: 352px) {
        .contenidoDeCatalogo .productosLista .productoCatalogo {
          width: 250px;
          margin-bottom: 10px; } }
      .contenidoDeCatalogo .productosLista .productoCatalogo ::after {
        content: "";
        position: absolute;
        background-color: #C46352;
        display: block;
        width: 100%;
        height: 40%;
        border-radius: 10px;
        z-index: -1;
        bottom: 0px;
        left: 0px; }
      .contenidoDeCatalogo .productosLista .productoCatalogo .productoCatalogo__contenedorImg {
        width: 300px;
        position: relative;
        /*animacion de linea*/ }
        @media screen and (max-width: 352px) {
          .contenidoDeCatalogo .productosLista .productoCatalogo .productoCatalogo__contenedorImg {
            width: 210px; } }
        .contenidoDeCatalogo .productosLista .productoCatalogo .productoCatalogo__contenedorImg::after {
          content: "";
          position: absolute;
          background-color: #a74d11;
          z-index: 2;
          bottom: 0;
          left: 7px;
          width: 95%;
          height: 3px;
          transform: scaleX(0);
          transition: transform 0.5s; }
        .contenidoDeCatalogo .productosLista .productoCatalogo .productoCatalogo__contenedorImg:hover::after {
          transform: scaleX(1); }
        .contenidoDeCatalogo .productosLista .productoCatalogo .productoCatalogo__contenedorImg img {
          width: 100%;
          border-radius: 10px; }

/*Estilos del html opiniones*/
.opiniones {
  max-width: 1000px;
  margin: 45px auto;
  padding: 10px;
  border-radius: 10px; }
  @media screen and (max-width: 768px) {
    .opiniones {
      /*Opiniones Bootstrap acomodando*/
      min-height: initial; } }
  .opiniones > p {
    margin-left: 7%;
    font-size: 2rem; }
    @media screen and (max-width: 352px) {
      .opiniones > p {
        font-size: 1.5rem; } }
  .opiniones .persona {
    background-color: #C46352;
    border-radius: 10px;
    margin-bottom: 2rem;
    padding: 10px 0px; }
    .opiniones .persona .col-md-4 {
      display: flex;
      align-items: center; }
    .opiniones .persona .opinionCard {
      margin: 10px auto;
      border: none;
      border-radius: 0%;
      padding: 5px;
      min-height: 190px;
      color: white; }
      .opiniones .persona .opinionCard .card-title {
        font-size: 1.7rem;
        margin-bottom: 0.5rem;
        text-align: left; }
        @media screen and (max-width: 352px) {
          .opiniones .persona .opinionCard .card-title {
            font-size: 1.5rem; } }
      .opiniones .persona .opinionCard .contenedorPuntuacion {
        margin-bottom: 0.5rem; }
        .opiniones .persona .opinionCard .contenedorPuntuacion .puntuacion {
          color: yellow; }

.imagendonfo {
  max-width: 700px;
  border-radius: 15px;
  margin: 30px auto;
  background-image: url(../imagenes/s1.jpg);
  background-size: 100%; }
  @media screen and (max-width: 715px) {
    .imagendonfo {
      background-image: url(../imagenes/s2.jpg);
      background-size: 100%; } }
  @media screen and (max-width: 435px) {
    .imagendonfo {
      background-image: url(../imagenes/s4.jpg);
      background-size: 100%; } }
  @media screen and (max-width: 279px) {
    .imagendonfo {
      background-image: url(none);
      background-size: 100%; } }
  .imagendonfo .contenedorfondo {
    background-color: #080707b8;
    border-radius: 15px;
    overflow: hidden; }

.contenidoDeContacto {
  max-width: 700px;
  padding: 1.5rem 3rem;
  margin: 30px auto; }
  .contenidoDeContacto p {
    font-size: 30px;
    font-family: 'Akaya Telivigala', cursive;
    margin-bottom: 24px;
    color: white; }
  .contenidoDeContacto .elementoContacto {
    display: flex;
    margin-bottom: 10px; }
    @media screen and (max-width: 435px) {
      .contenidoDeContacto .elementoContacto {
        flex-direction: column; } }
    .contenidoDeContacto .elementoContacto label {
      flex-basis: 165px;
      color: white; }
      @media screen and (max-width: 435px) {
        .contenidoDeContacto .elementoContacto label {
          flex-basis: auto; } }
    .contenidoDeContacto .elementoContacto .areaDeTexto {
      border: 1px solid #ced4da;
      padding: 0.3rem 0.6rem;
      border-radius: 0.25rem;
      min-width: 50%; }
    .contenidoDeContacto .elementoContacto .dejarComentario {
      max-height: 158px;
      flex-basis: 60%; }
  .contenidoDeContacto .elementoBotones {
    display: flex;
    justify-content: center; }
    .contenidoDeContacto .elementoBotones .botonForm {
      background-color: #ffffff;
      color: #AC4B1C;
      border: none;
      margin-left: 10px; }
      .contenidoDeContacto .elementoBotones .botonForm:hover {
        background-color: #AC4B1C;
        color: #ffffff; }
      .contenidoDeContacto .elementoBotones .botonForm:focus {
        background-color: #AC4B1C;
        color: #ffffff;
        box-shadow: 0 0 0 0.2rem #853a00; }

.card {
  background-color: transparent;
  margin: 20px auto;
  border-radius: 40px;
  padding: 27px; }
  .card .tituloDetalleProducto {
    font-family: 'Parisienne';
    text-align: center;
    font-size: 3rem; }
  .card .card-body .card-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem; }
  .card .card-body .contenedorBoton {
    display: flex;
    justify-content: center; }
    .card .card-body .contenedorBoton .botonCompra {
      text-decoration: none;
      color: white;
      border-radius: 5px;
      padding: 7px;
      background-color: #C46352;
      width: fit-content; }
  .card .tituloIngredientes {
    font-size: 1.4rem; }
  .card .list-group {
    flex-wrap: wrap;
    margin: 0px 30px;
    margin-bottom: 4rem; }
    .card .list-group .list-group-item {
      flex-basis: 50%;
      background-color: transparent;
      border: none;
      display: list-item;
      list-style-type: disclosure-closed;
      padding-left: 0px; }
