.imagendonfo{
    max-width: 700px;
    border-radius: 15px;
    margin: 30px auto;
    background-image: url(../imagenes/s1.jpg);
    background-size: 100%;

    @media screen and (max-width: 715px){
        background-image: url(../imagenes/s2.jpg);
        background-size: 100%;
    }

    @media screen and (max-width: 435px){
        background-image: url(../imagenes/s4.jpg);
        background-size: 100%;
    }

    @media screen and (max-width: 279px){
        background-image: url(none);
        background-size: 100%;
    }

    .contenedorfondo{
        background-color: #080707b8;
        border-radius: 15px;
        overflow: hidden;
    }
}

.contenidoDeContacto{
    max-width: 700px;
    padding: 1.5rem 3rem;
    margin: 30px auto;

    p{
        font-size: 30px;
        font-family: 'Akaya Telivigala', cursive;
        margin-bottom: 24px;
        color: $colorDeTexto;
    }

    .elementoContacto{
        display: flex;
        margin-bottom: 10px;

        @media screen and (max-width: 435px){
            flex-direction: column;
        }

        label{
            flex-basis: 165px;
            color: $colorDeTexto;

            @media screen and (max-width: 435px){
                flex-basis: auto;
            }
        }

        .areaDeTexto{
            border: 1px solid #ced4da;
            padding: 0.3rem 0.6rem;
            border-radius: 0.25rem;
            min-width: 50%;
        }

        .dejarComentario{
            max-height: 158px;
            flex-basis: 60%;
        }
        
    }

    .elementoBotones{
        display: flex;
        justify-content: center;

        .botonForm{
            background-color: $colorDeTexto;
            color: #AC4B1C;
            border: none;
            margin-left: 10px;

            &:hover{
                background-color: #AC4B1C;
                color: $colorDeTexto;
            }

            &:focus{
                background-color: #AC4B1C;
                color: $colorDeTexto;
                box-shadow: 0 0 0 0.2rem #853a00;;
            }
        }
    }
}