.card{
    background-color: transparent;
    margin: 20px auto;
    border-radius: 40px;
    padding: 27px;

    .tituloDetalleProducto{
        font-family: 'Parisienne';
        text-align: center;
        font-size: 3rem;
    }

    .card-body{
        
        .card-title{
            text-align: center;
            font-size: 2rem;
            margin-bottom: 2rem;
        }

        .tituloIngredientes{
            font-size: 1.4rem;
        }
    
        .list-group{
            flex-wrap: wrap;
            margin: 0px 30px;
            margin-bottom: 4rem;
        
            &-item{
                flex-basis: 50%;
                background-color: transparent;
                border: none;
                
                display: list-item;
                list-style-type: disclosure-closed;
                padding-left: 0px;
            }
        }

        .contenedorBoton{
            @include declararFlex(center, initial);
            
            .botonCompra{
                text-decoration: none;
                color: $colorDeTexto;
                border-radius: 5px;
                padding: 7px;
                background-color: $colorSecundario;
                text-align: center;
            }
        }
    }
}