footer{
    background-color: $colorHeaderFooter;
    .footer__contenedor{
        @include declararFlex(space-between, center);
        margin: 0 auto;
        max-width: 1200px;
        padding: 2rem 0;

        @media screen and (max-width: 768px){
            flex-direction: column;
        }
        
        .logo{
            width: 100px;
        }

        p{
            color: $colorDeTexto;
            margin-bottom: 0.5rem;
            font-size: 1.2rem;
            padding-left: 3%;
            @media screen and (max-width: 768px){
                text-align: center;
            }

            @media screen and (max-width: 398px){
                padding-left: 0;
                font-size: 1rem;
            }
        }

        p:nth-child(1){
            font-size: 1.7rem;
            padding-left: 0%;
        }

        .contactos{
            width: 381px;

            @media screen and (max-width: 768px){
                margin-bottom: 1rem;
                margin-top: 1rem;
            }

            @media screen and (max-width: 398px){
                width: initial;
            }
        }

        .redes{
            width: 253px;

            @media screen and (max-width: 398px){
                width: initial;
            }
            a{
                color: $colorDeTexto;
                text-decoration: none;
                padding-left: 3%;
                font-size: 4rem;

                @media screen and (max-width: 398px){
                    padding-left: 0%;
                    font-size: 3rem;
                }
            }

        }
    }
}