.header{
    background-color: $colorHeaderFooter;
    padding: 1rem;
    
    .header__contenedor{
        @include declararFlex(space-between, center);
        margin: 0 auto;
        max-width: 1200px;

        .logo{
            width: 100px;
        }

        .btn-open-sidebar{
            /* Menu lateral*/
            display: none;

            @media screen and (max-width: 806px){
                /* Menu lateral*/
                display: inline-block;
                background-color: $colorSecundario;
                color: $colorDeTexto;
                font-size: 1.5rem;
                border-radius: 5px;
                padding: 0.5rem 1rem;
            }
        }

        #sidebar:target {
            @media screen and (max-width: 806px){
                /* Menu lateral*/
                transform: translateX(0);
            }
        }

        .nav__lista{
            @include declararFlex(initial, initial);

            @media screen and (max-width: 806px){
                /* Menu lateral */
                background-color: $colorSecundario;
                width: 80%;
                max-width: 400px;
                height: 100vh;
                position: fixed;
                top: 0;
                left: 0;
                transform: translateX(-100%);
                flex-direction: column;
                justify-content: center;
                gap: 1rem;
                padding: 1rem;
                transition: transform 0.5s;
                z-index: 100;
            }

            .nav__item{
                list-style: none;
                transition: transform 0.5s;

                @media screen and (max-width: 806px){
                    margin-bottom: 1.3rem;
                }

                @media (orientation: landscape) {
                    margin-bottom: 0.6rem;
                }

                &:hover{
                    transform: scale(1.2, 1.2);

                    @media screen and (max-width: 806px){
                        transform: scale(1, 1);
                    }
                }

                &__a{
                    text-decoration: none;
                    margin: 8px;
                    font-size: 1.3rem;
                    color: $colorDeTexto;

                    @media (orientation: landscape) {
                        font-size: 1rem;
                    }
                }

                &--oculto{
                    /* Menu lateral*/
                    display: none;
    
                    @media screen and (max-width: 806px){
                        /* Menu lateral*/
                        display: block;
                    }
    
                }
            }
        }
    }
}