.inicio{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-image: url(../imagenes/72.jpg);
    background-size: 100%;*/
    
    background-color: $colorHeaderFooter;
    margin-bottom: 2rem;

    h1{
        font-size: 5rem;
        font-family: 'Parisienne', cursive;;
        color: $colorPrincipal;
    }

    
}

body{
    background-color: #ffffff;
    width: 100%;
}
.productosDestacados{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 4rem;

    .productoDestacado{
        width: 300px;
        position: relative;

        .productoDestacado__ContenedorImg__img{
            width: 100%;
            border: solid 0px #853a00;
            border-radius: 25px;
        }

        &__informacion{
            position: absolute;
            text-decoration: none;
            color: #a5480b;
            bottom: 4px;
            border: solid 3px #ffffff;
            background-color: #ffffff;
            left: 95px;
            width: 115px;
            height: 56px;
            border-radius: 100px 100px 0 0;
            h2{
                position: absolute;
                bottom: 6px;
                left: 21px;
            }
        }
    }
}
.contenedorFondo{
    background-image: url(../imagenes/c1.jpg);
    background-size: 100%;

    .contenedorFondo_color{
        background: #080707b8;
    }
}

.sobreNosotros{
    display: flex;
    justify-content: center;
    max-width: 1300px;
    min-height: 600px;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding-top: 40px;
    /*background-color: $colorHeaderFooter;*/
   

    .informacion{
        flex-basis: 60%;
        color: white;
        position: relative;

        &__titulo{
            font-family: 'Parisienne';
            font-size: 4rem;
            text-align: center;
        }

        &__parrafo{
            text-align: center;
            font-size: 2rem;
            margin-left: 28%;
            margin-bottom: 3rem;
        }

        &__parrafo2{
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 3rem;
        }

        p:nth-child(5){
            margin-bottom: 3rem;
        }

        .contenedorBoton{
            text-align: center;
            height: 93px;

            .botonComprar{
                position: absolute;
                text-decoration: none;
                border: solid 3px #ffffff;
                background-color: #ffffff;
                width: 157px;
                height: 76px;
                bottom: 0px;
                left: 317px;
                border-radius: 100px 100px 0 0;
                p{
                    position: absolute;
                    text-align: center;
                    font-size: 1.3rem;
                    top: 36px;
                    left: 14px;
                    color: #a74d11;
                    font-weight: 600;
                }
            }
        }
    }
/*
    .SobreNosotros__img{
        position: relative;

        div{
            width: 300px;
            position: absolute;

            & img{
                width: 100%;
            }
        }

        .SobreNosotros__img__contenedor1{
            top: 52px;
            left: 210px;
            z-index: 1;
        }

        .SobreNosotros__img__contenedor2{
            top: 222px;
            left: 38px;
            z-index: 3;
        }

        .SobreNosotros__img__contenedor3{
            top: 343px;
            left: 267px;
            z-index: 2;
        }
    }*/
}

.masProductos{
    margin: 0 3%;
    margin-bottom: 6rem;
    
    div{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        

        .uno{
            display: flex;
            flex-direction: column;
            align-items: center;

            .imagen{
                padding: 27px;
                padding-bottom: 3px;

                img{
                    border: solid 0px #853a00;
                    border-radius: 25px;
                }
            }

            position: relative;
            .titulo{
                margin-bottom: 1.5rem;
                color: $letras;
                
                ::after{
                    content: "";
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 30%;
                    bottom: 0;
                    left: 0;
                    background-color: $objeto;
                    border-radius: 10px;
                    z-index: -1;
                }
            }
        }

        img{
            width: 280px;
        }

    }
    
}