.estiloBotonCircular{
    position: absolute;
    text-decoration: none;
    color: $colorDeLetraDeSubtitulo;
    bottom: 0px;
    border: solid 3px $colorDefondo;
    background-color: $colorDefondo;
    left: 50%;
    transform: translateX(-50%);
    width: 115px;
    height: 56px;
    border-radius: 100px 100px 0 0;
}

.inicio{
    height: 400px;
    @include declararFlex(center, center);
    
    background-color: $colorHeaderFooter;
    margin-bottom: map-get($espaciadoBottom, comun);

    @media screen and (max-width: 540px){
        height: 200px;
    }

    @media screen and (max-height: 550px){
        height: 150px;
    }

    .tituloPrincipal{
        font-size: 5rem;
        font-family: 'Parisienne', cursive;
        color: $colorDeTexto;

        @media screen and (max-width: 540px){
            font-size: 3rem;
        }

        @media screen and (max-width: 320px){
            font-size: 2.5rem;
        }
    }
}


.categorias{
    @include declararFlex(space-between, initial);
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: map-get($espaciadoBottom, grande);

    .categoria{
        width: 300px;
        position: relative;
        margin: 10px;

        &__ContenedorImg__img{
            width: 100%;
            border-radius: 25px;
        }

        &__informacion{
            @extend .estiloBotonCircular;
            
            @media screen and (max-width: 373px){
                width: 107px;
                height: 54px;
            }

            @media screen and (max-width: 344px){
                width: 93px;
                height: 49px;
            }

            &__h2{
                position: absolute;
                bottom: 6px;
                left: 21px;

                @media screen and (max-width: 344px){
                    font-size: 1.2rem;
                }
            }
        }
    }
}

.contenedorFondo{
    background-image: url(../imagenes/c1.jpg);
    background-size: 100%;

    @media screen and (max-width: 1024px){
        background-image: url(../imagenes/c13.jpg);
    }

    @media screen and (max-width: 768px){
        background-image: url(../imagenes/c12.jpg);
    }

    @media screen and (max-width: 574px){
        background-image: url(../imagenes/c15.jpg);
    }
    
    &__color{
        background: #080707b8;
    }
}

.sobreNosotros{
    @include declararFlex(center, initial);
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: map-get($espaciadoBottom, comun);
    padding-top: 40px;
   
    .informacion{
        flex-basis: 60%;
        color: $colorDeTexto;
        position: relative;

        @media screen and (max-width: 1133px){
            flex-basis: 80%;
        }

        @media screen and (max-width: 353px){
            flex-basis: 90%;
        }

        &__titulo{
            font-family: 'Parisienne';
            font-size: 4rem;
            text-align: center;

            @media screen and (max-width: 472px){
                font-size: 3rem;
                margin-bottom: map-get($espaciadoBottom, pequeno);
            }

            @media screen and (max-width: 353px){
                font-size: 2.5rem;
            }
        }

        &__subtitulo{
            text-align: center;
            font-size: 2rem;
            margin-left: 28%;
            margin-bottom: map-get($espaciadoBottom, noTanGrande);

            @media screen and (max-width: 472px){
                display: none;
            }
        }

        &__parrafo{
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: map-get($espaciadoBottom, noTanGrande);

            @media screen and (max-width: 472px){
                font-size: 1.2rem;
                margin-bottom: map-get($espaciadoBottom, comun);
            }

            @media screen and (max-width: 353px){
                font-size: 1rem;
                margin-bottom: map-get($espaciadoBottom, pequeno);
            }
        }

        .contenedorBoton{
            height: 93px;

            .botonComprar{
                @extend .estiloBotonCircular;
                width: 153px;
                height: 76px;
                bottom: -1px;

                p{
                    position: absolute;
                    font-size: 1.3rem;
                    top: 36px;
                    left: 14px;
                    font-weight: 600;
                }
            }
        }
    }
}

.contenedorDeProductos{
    margin: 0 auto;
    margin-bottom: 6rem;
    max-width: 1400px;
    
    .productosListaInicio{
        @include declararFlex(center, initial);
        flex-wrap: wrap;
        
        .producto{
            @include declararFlex(initial, center);
            flex-direction: column;
            position: relative;
            margin: 5px;

            &__contenedorImg{
                padding: 27px;
                padding-bottom: 3px;
                margin-bottom: map-get($espaciadoBottom, pequeno);

                @media screen and (max-width: 375px){
                    padding: 15px;
                    margin-bottom: 0rem;
                }

                :hover{
                    transform: scale(1.1, 1.1);
                    transition: transform 0.5s ease;

                    @media screen and (max-width: 806px){
                        transform: scale(1, 1);
                    }
                }

                &__img{
                    border-radius: 25px;
                    width: 280px;

                    @media screen and (max-width: 375px){
                        width: 200px;
                    }
                }
            }
            
            &__titulo{
                margin-bottom: 1.5rem;
                color: $colorDeTexto;

                @media screen and (max-width: 375px){
                    margin-bottom: map-get($espaciadoBottom, pequeno);
                }
                
                ::after{
                    content: "";
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 30%;
                    bottom: 0;
                    left: 0;
                    background-color: $colorSecundario;
                    border-radius: 10px;
                    z-index: -1;
                }
            }
        }
    }
}