/*Estilos del html opiniones*/
.opiniones{
    max-width: 1000px;
    margin: 40px auto;
    padding: 10px;
    border-radius: 10px;

    @media screen and (max-width: 768px){
        /*Opiniones Bootstrap acomodando*/
        min-height: initial;
    }

    & > p{
        margin-left: 7%;
        font-size: 3rem;
        font-family: 'Parisienne', cursive;
        text-align: center;
        font-weight: 600;

        @media screen and (max-width: 352px){
            font-size: 1.5rem;
        }
    }

    .persona{
        background-color: $colorSecundario;
        border-radius: 10px;
        margin-bottom: 2rem;
        padding: 10px 0px;

        .col-md-4{
            @include declararFlex(initial, center);
        }

        .opinionCard{
            margin: 10px auto ; 
            border: none;   
            padding: 5px;
            min-height: 190px;
            color: $colorDeTexto;

            .card-title{
                font-size: 1.7rem;
                margin-bottom: 0.5rem;
                text-align: left;

                @media screen and (max-width: 352px){
                    font-size: 1.5rem;
                }
            }

            .contenedorPuntuacion{
                margin-bottom: 0.5rem;

                .puntuacion{
                    color: yellow;
                }
            }
        }
    }
}