.contenidoDeCatalogo{
    max-width: 1450px;
    margin: 20px auto;
    border-radius: 40px;
    padding-bottom: 27px;
    padding-top: 27px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .tituloDePagina{
        color: $colorSecundario;
        font-family: 'Parisienne';
        font-size: 4rem;

        @media screen and (max-width: 352px){
            font-size: 3rem;
        }
    }

    h2{
        font-size: 1.5rem;
        color: $colorDeTexto;
        text-align: center;
        padding: 10px 0px;
    }

    .productosLista{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
        .productoCatalogo{
            width: 334px;
            margin: 10px 10px;
            margin-bottom: 30px;
            padding: 14px;
            border-radius: 14px;
            position: relative;

            @media screen and (max-width: 352px){
                width: 250px;
                margin-bottom: 10px;
            }


            ::after{
                content: "";
                position: absolute;
                background-color:$colorSecundario;
                display: block;
                width: 100%;
                height: 40%;
                border-radius: 10px;
                z-index: -1;
                bottom: 0px;
                left: 0px;
            }


            .productoCatalogo__contenedorImg{
                width: 300px;
                position: relative;

                @media screen and (max-width: 352px){
                    width: 210px;
                }

                /*animacion de linea*/
                &::after{
                    content: "";
                    position: absolute;
                    background-color: #a74d11;
                    z-index: 2;
                    bottom: 0;
                    left: 7px;
                    width: 95%;
                    height: 3px;
                    transform: scaleX(0);
                    transition: transform 0.5s;
                }

                &:hover::after{
                    transform: scaleX(1);
                }
                
                    img{
                        width: 100%;
                        border-radius: 10px;
                    }
                
            }
        }
    }
}